@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 7%;
    --foreground: 0 0% 98%;
    --card: 0 0% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 7%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 100% 27%;
    --primary-foreground: 60 56% 91%;
    --secondary: 0 0% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 60 56% 91%;
    --accent-foreground: 0 0% 7%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 15%;
    --input: 0 0% 15%;
    --ring: 0 100% 27%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 10%;
    --sidebar-foreground: 0 0% 95.9%;
    --sidebar-primary: 0 100% 27%;
    --sidebar-primary-foreground: 60 56% 91%;
    --sidebar-accent: 0 0% 15.9%;
    --sidebar-accent-foreground: 0 0% 95.9%;
    --sidebar-border: 0 0% 15.9%;
    --sidebar-ring: 0 100% 27%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
